title {
  color: white;
}
body {
  background-color: black;
}

h1{
  color:white;
  text-align: left;
  font-size: 48px;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 45px;
  text-indent: 15px;
  
}

p{
  color:white;
  text-align: center;
}

img.a{
  float: left;
  height: 150px;
  width: 100px;
  padding: auto;
  
}
hr.solid{
  border-top: 3px solid #ffffff;
}



